@page "{id}"
@model CV_Manager.Pages.EditModel
@{
    CVModel cv = Model.cv;
}

<div class="text-center">
    <h1 class="display-4">Edit CV</h1>
</div>

<form asp-page="Summary" method="post" enctype="multipart/form-data">

    <div class="grid_container">
        <div class="grid_item">
            <h2>General Information</h2>
            <label asp-for="cv.firstName"></label><br>
            <input asp-for="cv.firstName"> <br>
            <span asp-validation-for="cv.firstName" class="error"></span>
            <br>

            <label asp-for="cv.lastName"></label><br>
            <input asp-for="cv.lastName"><br>
            <span asp-validation-for="cv.lastName" class="error"></span>
            <br>

            <label asp-for="cv.birthDay"></label><br>
            <input asp-for="cv.birthDay"> <br>
            <span asp-validation-for="cv.birthDay" class="error"></span>
            <br>

            <label asp-for="cv.nationality"></label><br>
            <select asp-for="cv.nationality" asp-items="CVLists.nationalities"></select> <br>
            <span asp-validation-for="cv.nationality" class="error"></span>
            <br>
        </div>

        <div class="grid_item">
            <h2>Geneder</h2>
            <label asp-for="cv.gender"></label><br>
            @{
                foreach (var gender in CVLists.genders) {
                    <input type="radio" asp-for="cv.gender" value="@gender.Value" /> @gender.Text

                    <br>
                }
            }
            <br>
            <span asp-validation-for="cv.gender" class="error"></span>
        </div>

        <div class="grid_item">
            <h2>Skills</h2>
            <input type="checkbox" asp-for="cv.java" />
            <label asp-for="cv.java"></label><br>
            <input type="checkbox" asp-for="cv.cs" />
            <label asp-for="cv.cs"></label><br>
            <input type="checkbox" asp-for="cv.python" />
            <label asp-for="cv.python"></label><br>
            <input type="checkbox" asp-for="cv.beef" />
            <label asp-for="cv.beef"></label>
        </div>

        <div class="grid_item">
            <h2>Email</h2>
            <label asp-for="cv.email"></label><br>
            <input asp-for="cv.email" /> <br>
            <span asp-validation-for="cv.email" class="error"></span>
            <br>

            <label asp-for="cv.emailConfirm"></label><br>
            <input asp-for="cv.emailConfirm" /> <br>
            <span asp-validation-for="cv.emailConfirm" class="error"></span>
            <br>
        </div>

        <div class="grid_item">
            <h2>Are you hooman?</h2>

            <label asp-for="cv.x"></label><br>
            <input asp-for="cv.x" /> <br>
            <span asp-validation-for="cv.x" class="error"></span>
            <br>

            <label asp-for="cv.y"></label><br>
            <input asp-for="cv.y" /> <br>
            <span asp-validation-for="cv.y" class="error"></span>
            <br />

            <label asp-for="cv.sum"></label><br>
            <input asp-for="cv.sum" /> <br>
            <span asp-validation-for="cv.sum" class="error"></span>
        </div>

        <div class="grid_item">
            <h2>CV Photo</h2>
            <label asp-for="cv.photo"></label><br>
            <input asp-for="cv.photo" /> <br>
            <span asp-validation-for="cv.photo" class="error"></span>
            <br />
        </div>
    </div>

    <input type="submit" name="submit" value="Cancel">
    <input type="submit" name="submit" value="Save">

    <div asp-validation-summary="All" class="error"></div>
</form>