@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the CV Manager!</h1>
</div>

@*<img src="@Url.Content("~/background.png")" asp-append-version="true">*@
