@page
@model CV_Manager.Pages.SendModel
@{

}

<form asp-asp-page="Summary" method="post">
    <label asp-for="cv.firstName"></label><br>
    <input asp-for="cv.firstName"><br><br>

    <label asp-for="cv.lastName"></label><br>
    <input asp-for="cv.lastName"><br><br>

    <label asp-for="cv.birthDay"></label><br>
    <input asp-for="cv.birthDay"><br><br>
    
    <label asp-for="cv.nationality"></label><br>
    <select asp-for="cv.nationality" asp-items="Model.nationalities"></select><br><br>
    
    <label asp-for="cv.gender"></label><br>
    @{
        foreach(var gender in Model.genders) {
            <input type="radio" asp-for="cv.gender" value="@gender.Value"/> @gender.Text<br>
        }
    }
    <br><br>

    <label asp-for="cv.selectedSkills"></label><br>
    @{
        foreach (var skill in Model.skills) {
            <input type="checkbox" name="selectedSkills" value="@skill.Value" /> @skill.Text<br>
        }
    }
    <br><br>


    <label asp-for="cv.email"></label><br>
    <input asp-for="cv.email" /><br><br>

    <label asp-for="cv.emailConfirm"></label><br>
    <input asp-for="cv.email" /><br><br> <br><br>

    <label asp-for="cv.x"></label><br>
    <input asp-for="cv.x" /><br><br>

    <label asp-for="cv.y"></label><br>
    <input asp-for="cv.y" /><br><br>

    <label asp-for="cv.sum"></label><br>
    <input asp-for="cv.sum" /><br><br> <br><br>

    <label asp-for="cv.photo"></label><br>
    <input asp-for="cv.photo" /><br><br> <br><br>


    <input type="submit" value="Submit">
</form>
