html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.error {
    color: red;
    font-size: small;
    font-style: italic;
}

.cv_profile_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}